@tailwind base;
@tailwind components;
@tailwind utilities;

/* prose */

.prose a {
    @apply underline underline-offset-2 decoration-optBlue decoration-2;
    @apply hover:text-deepBlue/70;
}

.prose p {
    @apply text-black;
    @apply leading-normal;
}

.prose ul {
  padding-left: 0;
}
.prose li::marker {
    @apply text-black;
}

.prose ul > li {
    list-style: none;
    padding-left: 1.5em;
    position: relative;
    @apply text-black;
}

.prose ul > li::before {
    content: '';
    background-image: url('/crane.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0.8em;
    height: 0.8em;
}