@import "tailwindcss";

@theme {
  --color-muted: #f5f5f5;
  --color-deepGreen: #0f2d23;
  --color-lightGreen: #38ba87;
  --color-dark: oklch(0.13 0.028 261.692);
  --color-beige: #f6e6cb;
  --color-lightBeige: #faf5ef;

  --font-alegreya: "Alegreya", serif;
  --font-alegreya-sans: "Alegreya Sans", sans-serif;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

p {
  font-family: var(--font-geist-sans);
}

button {
  font-family: var(--font-geist-mono);
}

h1 {
  font-family: var(--font-alegreya);
}

h2 {
  font-family: var(--font-alegreya-sans);
}

h3 {
  font-family: var(--font-alegreya-sans);
}

h4 {
  font-family: var(--font-alegreya-sans);
}

h5 {
  font-family: var(--font-alegreya-sans);
}

h6 {
  font-family: var(--font-alegreya-sans);
}
